// 인자값은 순서대로 - 타입, 최소길이, 최대길이, 이름, placeholder text
mixin inputText(type= 'text',name= '',place= '',min= 0,max= 100)
    div
        input.input(
            type= type
            minlength= min
            maxlength= max
            name= name
            placeholder= place
        )
        p.input_msg
            